*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width:  100%;
}
#main{
    height: 100%;
    width:  100%;
    
}
#header{
    height: 13%;
    width:  100%;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}
#fakeheader
{
     height: 13%;
    width:  100%;
    background-color: yellow;
}
#logo{
    height: 70%;
  
}
#logo img{
     height: 100%;
    width:  100%;
    object-fit: cover;
}
.texts{
    color:rgb(2, 2, 100);
    display: flex;
}
.texts:hover{
    color: rgb(8, 142, 199);
}
#contactDetails{
   
    font-weight: lighter;
}
.icon{
    
    padding: 10px;
    border-radius: 50%;
}
.icon:hover{
    background-color: lightblue;

}
#login{
     padding: 10px;
    border-radius: 50%;
    display: flex;
    
}
#login:hover{
    background-color: lightblue;

}
#try{
    background-color: green;
    padding: 10px 20px;
    color: white;
}
#try:hover{
     background-color: rgb(0, 44, 0);

}
#page1{
    height: 87%;
    width:  100%;
   
}
#strip{
    width: 100%;
    height: 8%;
    background-color: rgb(6, 6, 131);
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}#strip u{
    margin-left: 20px;
    font-weight: lighter;
}
#content{
    width: 100%;
    height: 76%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#box1{
    width: 47%;
    height: 90%;
    background-color: white;

}
#box2{
      width: 47%;
    height: 90%;
    background-color: grey;
    align-items: center;
    display: flex;
}
#box2 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#heading{
    width: 100%;
    height: 16%;
    color: rgb(1, 1, 142);
    display: flex;
    align-items: center;
    justify-content: center;

}
#heading h1{
    font-weight: 600;
    

}
#box1 h1{
    font-weight: 600;
    color: rgb(2, 2, 88);
    font-size: 50px;
    margin: 30px 10px;

}
#box1 p{
    font-size: x-large;
    margin: 30px 10px;
    font-weight: lighter;
}
#btns{
    display: flex;
}
#btns1{
    text-align: center;
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color: white;
    background-color: rgb(9, 169, 223);
    border-radius: 5px;
}
#btns1:hover{
    background-color:  rgb(2, 58, 77);
}
#btns2{
    text-align: center;
    margin: 10px;
      width: 23%;
    padding: 10px 20px;
    color:rgb(9, 169, 223);
    border: 1px solid rgb(9, 169, 223);
    border-radius: 5px;
}
#btns2:hover{
    background-color: lightblue;
    counter-reset: rgb(1, 46, 61);
    border: color rgb(1, 46, 61);
}
#page2{
        height: 87%;
        width:  100%;
        background-color: darkgrey;
}